@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.heading1 {
  font-size: 1.5rem;
}

.heading2 {
  font-size: 1.3rem;
}

.heading3 {
  font-size: 1.1rem;
}

.text {
  font-size: 1rem;
  line-height: 2;
}

.container {
  min-height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container .join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 8%;
}

.container .join .heading1 {
  color: #2ab2af;
  font-weight: 700;
}

.container .join .heading3 {
  color: #c0df34;
  margin: 8% 0;
}

.container .join .text {
  color: #98a6bd;
}

.container .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 8%;
  background-color: #2ab2af;
  color: #e5eff5;
}

.container .price .heading2 {
  font-weight: 700;
}

.container .price .price-text {
  display: flex;
  align-items: center;
  color: rgba(229, 239, 245, 0.5);
  margin: 15px 0;
}

.container .price .value {
  color: #e5eff5;
  font-size: 35px;
  margin-right: 15px;
}

.container .price .button {
  display: block;
  background-color: #c0df34;
  font-weight: 700;
  width: 100%;
  padding: 6%;
  border-radius: 5px;
  color: #e5eff5;
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
  transition: 0.5s;
}

.container .price .button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.container .why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 8%;
  background-color: rgba(42, 178, 175, 0.7);
  color: #e5eff5;
}

.container .why-us .heading2 {
  font-weight: 700;
}

.container .why-us ul {
  margin: 15px 0;
}

.container .why-us li {
  list-style: none;
  line-height: 1.5;
}

footer {
  background-color: rgba(42, 178, 175, 0.7);
  color: #e5eff5;
  padding: 15px 0;
  width: 100%;
  max-width: 1440px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 425px) {
  .heading1 {
    font-size: 1.65rem;
  }
  .heading2 {
    font-size: 1.43rem;
  }
  .heading3 {
    font-size: 1.21rem;
  }
  .text {
    font-size: 1.1rem;
  }
  .container .price .button {
    font-size: 19.2px;
    padding: 3%;
    border-radius: 10px;
  }
  .container .why-us ul li {
    font-size: 19.2px;
  }
}

@media screen and (min-width: 768px) {
  .heading1 {
    font-size: 2.1rem;
  }
  .heading2 {
    font-size: 1.82rem;
  }
  .heading3 {
    font-size: 1.54rem;
  }
  .text {
    font-size: 1.4rem;
  }
  .container .price .button {
    font-size: 24px;
  }
  .container .why-us ul li {
    font-size: 22.4px;
  }
}

@media screen and (min-width: 1024px) {
  .heading1 {
    font-size: 2.7rem;
  }
  .heading2 {
    font-size: 2.34rem;
  }
  .heading3 {
    font-size: 1.98rem;
  }
  .text {
    font-size: 1.8rem;
  }
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .join {
    width: 100%;
    padding: 5%;
  }
  .container .join .heading3 {
    margin: 3% 0;
  }
  .container .price {
    width: 50%;
    padding: 5%;
  }
  .container .price .price-text {
    margin: 10% 0;
  }
  .container .price .value {
    font-size: 70px;
  }
  .container .price .button {
    font-size: 30.4px;
    padding: 25px;
  }
  .container .why-us {
    width: 50%;
    padding: 5%;
  }
  .container .why-us ul {
    margin-top: 45px;
  }
  .container .why-us ul li {
    font-size: 28.8px;
  }
  footer {
    height: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
