* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// ## Colors
// ### Primary
// - Cyan:
$cyan: hsl(179, 62%, 43%);
$light-cyan: hsla(179, 62%, 43%, 0.7);
// - Bright Yellow:
$bright-yellow: hsl(71, 73%, 54%);
// ### Neutral
// - Light Gray:
$light-gray: hsl(204, 43%, 93%);
$light-gray-transparent: hsla(204, 43%, 93%,0.5);
// - Grayish Blue:
$grayish-blue: hsl(218, 22%, 67%);

$shadow: hsla(204, 43%, 93%,0.5);

// Paddings
// Main Paddding:
$main-padding: 8%;
$main-border-radius: 5px;

// ### Font
// - Family: [Karla](https://fonts.google.com/specimen/Karla)
// - Weights: 400, 700
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Headings Sizes
$body-font-size: 16px;
$heading1-font-size: 1.3rem;
$heading2-font-size: 1.1rem;
$heading3-font-size: 1rem;
$text-font-size: 0.9rem;

@mixin flex-centered() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

@mixin flex-column($align) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: $body-font-size;
}

.main-container{
    min-height: 100%;
    @include flex-column(center);
    background-color: $light-gray;
}

.outer-container{
    @include flex-centered();
    padding: 8%;
}

.heading1{
    font-size: $heading1-font-size;
    font-weight: 700;
}
.heading2{
    font-size: $heading2-font-size;
    font-weight: 700;
}
.heading3{
    font-size: $heading3-font-size;
}
.text{
    font-size: $text-font-size;
    line-height: 1.6;
}

.container {
    max-width: 992px;
    @include flex-column(center);
    border-radius: $main-border-radius;
    box-shadow: 1px 1px 5px $grayish-blue;

    .join {
        @include flex-column(space-between);
        background-color: #fff;
        padding: $main-padding;
        border-top-left-radius: $main-border-radius;
        border-top-right-radius: $main-border-radius;

        .heading1 {
            color: $cyan;
        }

        .heading3 {
            color: $bright-yellow;
            margin: 8% 0;
        }

        .text {
            color: $grayish-blue;
        }
    }

    .price {
        @include flex-column(space-between);
        padding: $main-padding;
        background-color: $cyan;
        color: $light-gray;

        .heading2{
            font-weight: 700;
        }

        .price-text{
            display: flex;
            align-items: center;
            color: $light-gray-transparent;
            margin: 15px 0;
            // padding: 20px 0;
        }
        .value {
            color: $light-gray;
            font-size: 30px;
            margin-right: 15px;
        }

        .button {
            display: block;
            background-color: $bright-yellow;
            font-weight: 700;
            font-size: $body-font-size * 1.1;
            width: 100%;
            padding: 5%;
            border-radius: 5px;
            color: $light-gray;
            text-align: center;
            text-decoration: none;
            margin-top: 25px;
            transition: 0.5s;

            &:hover{
                transform: scale(1.05);
                transition: 0.5s;
            }
        }
    }

    .why-us {
        @include flex-column(space-between);
        padding: $main-padding;
        background-color: $light-cyan;
        color: $light-gray;
        border-bottom-left-radius: $main-border-radius;
        border-bottom-right-radius: $main-border-radius;

        ul{
            margin: 15px 0;

            li {
                list-style: none;
            }

        }


    }

}

footer {
    padding: 15px 0;
    width: 100%;

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (min-width: 425px){

    $factor: 1.1;

    .heading1{
        font-size: $heading1-font-size * $factor;
    }
    .heading2{
        font-size: $heading2-font-size * $factor;
    }
    .heading3{
        font-size: $heading3-font-size * $factor;
    }
    .text{
        font-size: $text-font-size * $factor;
    }

    .container{

        .price {
            .button{
            font-size: $body-font-size * ($factor + 0.1);
            padding: 3%;
            border-radius: 10px;
            }
        }

    }

}


@media screen and (min-width: 600px) and (max-width: 1099px){

    .container{

        max-width: 500px;

    }

}


@media screen and (min-width: 1100px){

    $factor: 1.5;

    .heading1{
        font-size: $heading1-font-size * ($factor + 0.2);
    }
    .heading2{
        font-size: $heading2-font-size * ($factor + 0.2);
    }
    .heading3{
        font-size: $heading3-font-size * $factor;
    }
    .text{
        font-size: $text-font-size * $factor;
    }

    $padding: 6%;

    .container{
        flex-direction: row;
        flex-wrap: wrap;

        .join{
            width: 100%;
            padding: $padding;

            .heading3{
                margin: 2% 0;
            }
        }

        .price{
            width: 50%;
            padding: $padding;

            .price-text{
                margin: 45px 0 10px;
            }
            .value{
                font-size: 65px;
            }
            .button{
                font-size: $body-font-size * ($factor + 0.2);
                padding: 25px;
            }
        }

        .why-us{
            width: 50%;
            padding: $padding;

            ul{
                margin-top: 45px;
                margin-bottom: 0;

                li{
                    font-size: $body-font-size * $factor;
                }
            }
        }
    }

    footer{
        height: 20px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

}
